.box1{
    background-color: white;
    height: 500px;
    width: 1000px;
    position: relative;
    border-radius: 5px;
}

.box2{
    background-color: white;
    height: 500px;
    width: 500px;
    position: relative;
    float: left;
    border-radius: 5px;
}

.box3{
    background-color: white;
    height: 500px;
    width: 500px;
    position: relative;
    float: right;
    border-radius: 5px;

}

h1{
    color: black;
}